body{
   /* background-color: rosybrown; */
   text-align: center;
  
}

/* first section (main_image) */
#title{
   
   
}
#carouselControls{
    position: relative;
}

.navbar{
    display: block;
    text-align: center;
}
.carousel-inner{
    z-index: -99;
    width: 100%;
}
.carousel-name{
    color: #fff;
    position: relative;
    top: 540px;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 4rem;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    font-weight: normal;
}
.controllers{
    position: absolute;
    /* top: 0; */
    bottom: 50px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    /* align-items: center; */
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.next{
    right: 0;
}
.prev{
    left: 0;
}

.one{
   
     background: url(https://demo.flothemes.com/narcisse-azure/files/2019/01/Nastia_Vesna_Photography_79-2-1200x731.jpg);
     background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.two{
    width: 100%;
    height: 700px;
    background: url(https://demo.flothemes.com/narcisse-azure/files/2019/01/Nastia_Vesna_Photography_271-2885x1800.jpg);
     background-repeat: no-repeat;
    background-size: cover;
}

/* second section **************/
#second-section{

}
.thought{
   
    background-color: #f5f3f0;
    color: #848484;
    text-align: center;
    position: relative;
    padding: 5%;
}
.thought h2{
    font-size: 2.5rem;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    font-weight: normal;
    font-family: 'Cormorant', serif;
    margin-bottom: 1rem;
  
}
.thought h3{
    font-size: 1rem;
    letter-spacing: 0.02em;
    word-spacing: 0em;
    line-height: 1.27em;
    text-transform: none;
    font-weight: lighter;
    font-family: 'Sedgwick Ave', cursive;
}

.thought h4{
   margin-top: 1rem;
    letter-spacing: 0.02em;
    word-spacing: .4em;
    line-height: 1.27em;
   
}



/******************** Gallery section ********************/
/* #gallery{
    position: relative;
    top: 5px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
    width: 80%;
    margin: auto;
}
.image-edit{
  padding: 5px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#pic1 {
    grid-column: 1 / 3;
}
#pic3 {
    grid-row: 2 / 4;
}
#pic4 {
    grid-column: 2 / 4;
}

 */

 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
    width: 80%;
    margin: auto;
}
.image-edit{
  padding: 5px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#pic1 {
    grid-column: 1 / 3;
}
#pic3 {
    grid-row: 2 / 4;
}
#pic4 {
    grid-column: 2 / 4;
}


@media only screen and (max-width: 1024px) {
  body {
    background-color: lightblue;
  }
  .contianer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pic1{
    grid-column: auto;
}
#pic3{
    grid-row: auto;
}
#pic4{
    grid-column: auto;
}
  
}
 





/*************** footer ****************/

#footer{
background-color: #e7ebf2;;
position: relative;
padding: 5rem;
height: 260px;
}

.logo-img{
    width: 60px;
    height: 60px;
  
}
.logo_icon-div{

    position: absolute;
    top: 2rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.fab-padding{
    padding: 30px;
}
.copyright-divider{
    position: relative;
    top: 80px;
}
.copyright{
    position: absolute;
    bottom: 0;;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 0;
padding-top: 3rem;
  width: 100%; /* Need a specific value to work */
}


/* media queries */

/* @media only screen and (max-width: 1024px) {
    .contianer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 10px;
        width: 80%;
        margin: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #pic1 {

       
    }
    #pic2 {
       
       
    }
    #pic3 {
       
    }
    #pic4 {
       
    }
  } */